/* app css stylesheet */
body, html {
  font-family:Comic Sans MS; 
  font-size: 20px;
  font-color: #378ee5;
  position:relative;
	z-index:-10;
	width: 60%;
	min-width: 860px;
	max-width: 960px;
	min-width:960px;
	margin: 0px auto;
}

#cover-img-region{
  margin: 10px 100px 
}

#enter-game-btn-region{
  margin: 0px 300px 
}

.game-region{
  margin:200px 5px; 
  width: 100%; 
}

.status-win {
  font-size: 40px;
  color: #83c41a;
	font-weight:bold
}

.status-fail {
  font-size: 40px;
  color: #ffaa22;
	font-weight:bold
}

#remaining-guess-region{
  float: right;
  color: #378ee5;
  margin: 50px 100px 10px 600px; 
}

#phrase-display-region{
  float: left;
  color: #378ee5;
  font-size: 48pt;
  margin: 20px 10px 50px 50px; 
}

.linbr{
clear: both;
}

#bottom-region{
  margin:50px 5px; 
  width: 100%; 
}

#div-view-answer-inGame {
  display: none
}

#div-view-answer-win {
  display: none
}

#div-view-answer-fail {
  float: left;
  margin: 10px 0px
}

.div-nevigate-btn {
  float: right;
  margin: 10px 10px;
}

.btn-primary {
	-moz-box-shadow:inset -2px 2px 0px 22px #c1ed9c;
	-webkit-box-shadow:inset -2px 2px 0px 22px #c1ed9c;
	box-shadow:inset -2px 2px 0px 22px #c1ed9c;
	background-color:transparent;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:4px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Comic Sans MS;
	font-size:26px;
	font-weight:bold;
	padding:2px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #689324;
}.btn-primary:hover {
  color: #689324;
}


.letter-btn {
	-moz-box-shadow:inset 0px 3px 0px 22px #bbdaf7;
	-webkit-box-shadow:inset 0px 3px 0px 22px #bbdaf7;
	box-shadow:inset 0px 3px 0px 22px #bbdaf7;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:4px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Comic Sans MS;
	font-size:26px;
	font-weight:bold;
	padding:2px 19px;
  text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.letter-btn:hover {
  color:#378ee5;
  position:relative;
	top:1px;
}


.letter-btntrue {
  -moz-box-shadow:inset -2px 3px 0px -6px #ffffff;
	-webkit-box-shadow:inset -2px 3px 0px -6px #ffffff;
	box-shadow:inset -2px 3px 0px -6px #ffffff;
	background-color:transparent;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:4px solid #dcdcdc;
	display:inline-block;
	color:#cccccc;
	font-family:Comic Sans MS;
	font-size:26px;
	font-weight:bold;
	padding:2px 19px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

